// General colors
$general-100: #131523;
$general-90: #333752;
$general-80: #5A607F;
$general-70: #7E84A3;
$general-60: #A1A7C4;
$general-50: #D7DBEC;
$general-40: #E6E9F4;
$general-30: #F5F6FA;

// Primary colors
$primary-100: #1E5EFF;
$primary-90: #336DFF;
$primary-80: #4F81FF;
$primary-70: #608DFF;
$primary-60: #89ABFF;
$primary-50: #B6CBFF;
$primary-40: #D9E4FF;
$primary-30: #ECF2FF;

// Green colors
$green-100: #05874F;
$green-90: #1FD286;
$green-80: #25E191;
$green-70: #48E9A5;
$green-60: #74EFB9;
$green-50: #95F6CC;
$green-40: #C4F8E2;
$green-30: #DAF9EC;

// Red colors
$red-100: #F0142F;
$red-90: #F12B43;
$red-80: #F34359;
$red-70: #F45A6D;
$red-60: #F8919D;
$red-50: #FAB3BC;
$red-40: #FCD5D9;
$red-30: #FDE7EA;

// Yellow colors
$yellow-100: #FFB608;
$yellow-90: #FFBD21;
$yellow-80: #FFC539;
$yellow-70: #FFCC52;
$yellow-60: #FFD36B;
$yellow-50: #FFDB84;
$yellow-40: #FFE29C;
$yellow-30: #FFE9B5;

// Orange colors
$orange-100: #e67700;
$orange-90: #e9851a;
$orange-80: #eb9233;
$orange-70: #eea04d;
$orange-60: #f0ad66;
$orange-50: #f3bb80;
$orange-40: #f5c999;
$orange-30: #fcebd9;
