// Headers
//// h1
$typo-font-h1-family: "Inter", sans-serif;
$typo-font-h1-style: normal;
$typo-font-h1-weight: 700;
$typo-font-h1-size: 80px;
$typo-font-h1-line-height: 97px;
$typo-font-h1-color: #000;
//// h2
$typo-font-h2-family: "Inter", sans-serif;
$typo-font-h2-style: normal;
$typo-font-h2-weight: 700;
$typo-font-h2-size: 64px;
$typo-font-h2-line-height: 77px;
$typo-font-h2-color: #000;
//// h3
$typo-font-h3-family: "Inter", sans-serif;
$typo-font-h3-style: normal;
$typo-font-h3-weight: 700;
$typo-font-h3-size: 48px;
$typo-font-h3-line-height: 58px;
$typo-font-h3-color: #000;
//// h4
$typo-font-h4-family: "Inter", sans-serif;
$typo-font-h4-style: normal;
$typo-font-h4-weight: 700;
$typo-font-h4-size: 28px;
$typo-font-h4-line-height: 34px;
$typo-font-h4-color: #000;
//// h5
$typo-font-h5-family: "Inter", sans-serif;
$typo-font-h5-style: normal;
$typo-font-h5-weight: 700;
$typo-font-h5-size: 24px;
$typo-font-h5-line-height: 29px;
$typo-font-h5-color: #000;
//// h6
$typo-font-h6-family: "Inter", sans-serif;
$typo-font-h6-style: normal;
$typo-font-h6-weight: 700;
$typo-font-h6-size: 20px;
$typo-font-h6-line-height: 24px;
$typo-font-h6-color: #000;

// Subtitles
//// s1
$typo-font-s1-family: "Inter", sans-serif;
$typo-font-s1-style: normal;
$typo-font-s1-weight: 600;
$typo-font-s1-size: 20px;
$typo-font-s1-line-height: 24px;
$typo-font-s1-color: #000;
//// s2
$typo-font-s2-family: "Inter", sans-serif;
$typo-font-s2-style: normal;
$typo-font-s2-weight: 600;
$typo-font-s2-size: 24px;
$typo-font-s2-line-height: 29px;
$typo-font-s2-color: #000;

// Paragraphs
//// p regular
$typo-font-p-regular-family: "Inter", sans-serif;
$typo-font-p-regular-style: normal;
$typo-font-p-regular-weight: 400;
$typo-font-p-regular-size: 16px;
$typo-font-p-regular-line-height: 19px;
$typo-font-p-regular-color: #000;
//// p medium
$typo-font-p-medium-family: "Inter", sans-serif;
$typo-font-p-medium-style: normal;
$typo-font-p-medium-weight: 500;
$typo-font-p-medium-size: 16px;
$typo-font-p-medium-line-height: 19px;
$typo-font-p-medium-color: #000;
//// p3 semi bold
$typo-font-p-semi-bold-family: "Inter", sans-serif;
$typo-font-p-semi-bold-style: normal;
$typo-font-p-semi-bold-weight: 600;
$typo-font-p-semi-bold-size: 16px;
$typo-font-p-semi-bold-line-height: 19px;
$typo-font-p-semi-bold-color: #000;

