@use '../../../styles/design-tokens' as dt;

.table {
  border-collapse: collapse;
  table-layout: auto;

  &.table-fixed {
    table-layout: fixed;
  }

  & .table-head, .table-cell {
    box-sizing: border-box;
    border: 1px solid dt.$general-50;
    color: dt.$general-90;
    padding: 16px 20px;
    text-align: center;
  }
  & .table-head, .table-footer {
    background-color: dt.$general-30;
  }
}
