@use '../../../styles/design-tokens' as dt;

.back-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  box-sizing: border-box;
  display: flex;
  outline: none;
  border: none;
  cursor: pointer;

  border-radius: 50%;
  padding: 10px;
  background-color: rgba(dt.$general-100, 0.75);

  &:hover {
    background-color: rgba(dt.$general-100, 0.85);
  }

  &:active {
    background-color: dt.$general-100;
  }

  opacity: 1;
  transition: opacity 150ms;

  &-fading {
    opacity: 0;
  }

  &-hidden {
    display: none;
  }
}
