@use '../../../styles/design-tokens' as dt;


.text-area {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 18px;
  gap: 8px;

  width: 390px;
  height: 168px;

  border: 1px solid dt.$primary-30;
  border-radius: 6px;

  color: dt.$general-90;

  font-family: dt.$typo-font-p-regular-family;
  font-style: dt.$typo-font-p-regular-style;
  font-weight: dt.$typo-font-p-regular-weight;
  font-size: dt.$typo-font-p-regular-size;
  line-height: 24px;

  width: 390px;
  height: 168px;

  outline: none;

  resize: none;

  &::placeholder{
    color: dt.$general-60;
  }

  &:focus-within {
    border-color: dt.$general-70;
  }

  & :not(&:focus-within):hover {
    border-color: dt.$general-60;
  }

  &:disabled{
    opacity: 0.5;
    cursor: not-allowed;
    border-color: dt.$primary-30;
  }
}

.medium-size{
  width: 350px;
  height: 144px;
}

.small-size{
  width: 310px;
  height: 120px;
}
