@use '../../../styles/design-tokens' as dt;
@use '../../../styles/icons' as *;

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 12px;
  cursor: pointer;

  height: 24px;
  transition: all 0.2s ease;
  width: fit-content;

  &:hover .checkbox-box:not(.checkbox-disabled):not(.checkbox-readonly):not(.checkbox-checked) {
    background: dt.$general-30;
    border: 1px solid dt.$primary-40;
  }
}

.checkbox-hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  & input {
    transform: scale(0);
  }
}

.checkbox-box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  min-width: 20px;
  min-height: 20px;

  box-sizing: border-box;
  border: 1px solid dt.$primary-40;
  border-radius: 4px;
  transition: background .2s ease,
  border .2s ease,
  box-shadow .2s ease;

  &.checkbox-invalid {
    color: #FFFFFF;
    border: 1px solid dt.$red-50;
    background: dt.$red-30;

    &:not(.checkbox-disabled):not(.checkbox-readonly):not(.checkbox-checked):hover {
      border-color: dt.$red-100;
      background: dt.$red-30;
    }
  }

  &.checkbox-disabled {
    cursor: not-allowed;
    user-select: none;
    background: dt.$general-30;
  }
  &.checkbox-disabled + .checkbox-label {
    cursor: not-allowed;
  }
  &.checkbox-readonly + .checkbox-label {
    cursor: default;
  }

  &.checkbox-checked {
    color: #FFFFFF;
    border: 1px solid dt.$primary-100;
    background: dt.$primary-100;
  }

  &.checkbox-checked.checkbox-disabled  {
    opacity: 0.5;
  }
}

.checkbox-label {
  font-family: dt.$typo-font-p-regular-family;
  font-style: dt.$typo-font-p-regular-style;
  font-weight: dt.$typo-font-p-medium-weight;
  font-size: dt.$typo-font-p-regular-size;
  line-height: 24px;

  cursor: pointer;
  user-select: none;

}
.checkbox-readonly {
  cursor: default;
}
.checkbox-disabled {
  cursor: not-allowed;
  user-select: none;
}
.checkbox-label-disabled {
  cursor: not-allowed;
}
