@use '../../../styles/design-tokens' as dt;
@use '../../../styles/icons' as *;


.inputNumber-wrapper {
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  height: 25px;
  box-sizing: border-box;
  border: 1px solid dt.$general-40;
  border-radius: 6px;

  & .inputNumber-icon {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:first-child {
      padding: 4px 0 4px 8px;
    }
    &:last-child {
      padding: 4px 8px 4px 0;
    }

    & > i {
      transition: color .25s ease;
      font-size: 17px;
      color: dt.$primary-100;
    }
    &:hover {
      & > i {
        color: dt.$primary-60;
      }
    }
  }

  & .inputNumber {
    background-color: #fff;
    border: none;
    outline: none;
    color: dt.$general-80;
    text-align: center;
    padding: 0;
    height: 23px;

    font-size: 14px;
    line-height: 16px;
    font-family: dt.$typo-font-p-medium-family;
    font-weight: dt.$typo-font-p-medium-weight;

  }

  &.inputNumber-wrapper-readonly {
    user-select: none;
    & .inputNumber-icon, & .inputNumber {
      pointer-events: none;
    }
  }
  &.inputNumber-wrapper-disabled {
    opacity: 0.4;
    user-select: none;
    cursor: not-allowed;

    & .inputNumber-icon, & .inputNumber {
      pointer-events: none;
    }
  }

  &:focus-within {
    padding: 0;
    background-color: dt.$general-30;
    gap: 0;

    & .inputNumber-icon:first-child {
      border-radius: 6px 0 0 6px;
      padding: 4px 5px 4px 8px;
    }
    & .inputNumber-icon:last-child {
      border-radius: 0 6px 6px 0;
      padding: 4px 8px 4px 5px;
    }
    & .inputNumber {
      padding: 0 8px;
      border-right: 1px solid dt.$general-40;
      border-left: 1px solid dt.$general-40;
    }
  }
}
