@use '../../../styles/design-tokens' as dt;
@use '../../../styles/icons' as *;

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: text;
  gap: 8px;
  border: 1px solid dt.$primary-30;
  border-radius: 6px;
  width: 350px;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: inherit;

  font-family: dt.$typo-font-p-medium-family;
  font-style: dt.$typo-font-p-medium-style;
  font-weight: dt.$typo-font-p-medium-weight;
  line-height: 24px;

  &::placeholder {
    color: dt.$general-60;
  }
}

.input-icon-left {
  order: -1;
}
.input-icon-right {
  order: 1;
  justify-content: space-between;
}

.input-wrapper-large{
  padding: 10px 16px;
}
.input-wrapper-medium{
  padding: 8px 14px;
}
.input-wrapper-small{
  padding: 6px 12px;
}
.input-wrapper-hover{
  border-color: dt.$general-60;
}
.input-wrapper-focused{
  color: dt.$general-90;
  border-color: dt.$general-70;
}
.input-wrapper-disabled{
  opacity: 0.5;
  cursor: not-allowed;
  border-color: dt.$primary-30;
}
