@use '../../../styles/design-tokens' as dt;
@use '../../../styles/icons' as *;

.dropdown {
  position: relative;
  width: fit-content;
}

.dropdown-value {
  box-sizing: border-box;
  user-select: none;

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;

  font-family: dt.$typo-font-p-medium-family;
  font-style: dt.$typo-font-p-medium-style;
  font-weight: dt.$typo-font-p-medium-weight;
  line-height: 24px;

  border: 1px solid dt.$primary-40;
  border-radius: 6px;
  color: dt.$general-90;
  outline: none;

  transition: all .2s ease;

  &:hover {
    border-color: dt.$general-60;
  }
  &:focus {
    border-color: dt.$general-70;
  }

  & .dropdown-icon {
    color: dt.$general-70;
  }
}

.dropdown-value-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.dropdown-value-placeholder {
  color: dt.$general-60;
}
.dropdown-value-focus {
  color: dt.$general-70;
}
.dropdown-value-error {
  background-color: dt.$red-30;
  border-color: dt.$red-60;
  color: dt.$red-60;

  & .dropdown-icon {
    color: dt.$red-70;
  }
}

.dropdown-item {
  cursor: pointer;
  background-color: #fff;
  transition: all .2s ease;
  color: dt.$general-80;
  outline: none;

  &:first-child {
    border-radius: 6px 6px 0 0;
  }
  &:last-child {
    border-radius: 0 0 6px 6px;
  }
  &:only-child {
    border-radius: 6px;
  }
  &:hover, &:focus {
    background-color: dt.$primary-30;
    color: dt.$general-90;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 5px;

  box-shadow: 0 4px 25px rgba(161, 167, 196, 0.15);
  border-radius: 6px;
}
.dropdown-menu-active {
  display: block;
  animation: display 0.2s linear;
}

.dropdown-icon {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.dropdown-icon-active {
  transform: rotate(180deg);
}

.dropdown-large {
  height: 48px;
  padding: 12px 16px;
}

.dropdown-medium {
  height: 44px;
  padding: 10px 16px;
}

.dropdown-small {
  height: 40px;
  padding: 8px 16px;
}

@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
